<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>38535179035-iafivdnelcd3653pk94vhv5qdp2cvo3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38535179035-iafivdnelcd3653pk94vhv5qdp2cvo3n</string>
	<key>API_KEY</key>
	<string>AIzaSyDO8v5HB8Lhr_k4RGYNfFuvd4vVqTW1VvI</string>
	<key>GCM_SENDER_ID</key>
	<string>38535179035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Raymond-Diamonds.CupNSpoon</string>
	<key>PROJECT_ID</key>
	<string>cupnspoon-3c082</string>
	<key>STORAGE_BUCKET</key>
	<string>cupnspoon-3c082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:38535179035:ios:e155f296566595a5</string>
	<key>DATABASE_URL</key>
	<string>https://cupnspoon-3c082.firebaseio.com</string>
</dict>
</plist>